:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: hsl(0, 0%, 100%);
  --font-main: "Karla", Arial, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background: var(--light-gray);
  font-family: var(--font-main);
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 323px;
  margin: 32px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 16px 32px 0 rgba(44, 62, 80, 0.15);
  background: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 32px 24px 24px 24px;
  background: #fff;
}

.header h1 {
  color: var(--cyan);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 28px 0;
}

.header h2 {
  color: var(--bright-yellow);
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.header p {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.8;
  opacity: 0.8;
  margin-bottom: 14px;
}

.subscription {
  background: var(--cyan);
  color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscription h3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 0 0 0;
  opacity: 0.9;
}

.price-row {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 8px;
}

.price {
  font-size: 2.2rem;
  font-weight: 700;
  opacity: 0.9;
}

.per-month {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
}

.access {
  margin: -16px 0 16px 0;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.9;
}

.signup {
  background: var(--bright-yellow);
  color: var(--white);
  font-size: 0.95rem;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  padding: 15px 0;
  box-shadow: 0 8px 16px 0 rgba(44, 62, 80, 0.2);
  cursor: pointer;
  transition: background 0.2s;
}

.signup:hover,
.signup:focus {
  background: hsl(71, 81%, 57%);
}

.why-us {
  background: hsl(179, 47%, 51%);
  color: var(--light-gray);
  padding: 30px 0 30px 24px;
}

.why-us h4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -5px 0 20px 0;
  color: var(--white);
  opacity: 0.9;
}

.why-us ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.why-us li {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 8px;
  color: var(--light-gray);
  opacity: 0.9;
  line-height: 12px;
}

@media (min-width: 485px) {
  .container {
    width: 100%;
    max-width: 450px;
  }
}

@media (min-width: 760px) {
  body {
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 16px 32px 0 rgba(44, 62, 80, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: scale(0.9);
  }

  .header {
    padding: 40px 40px 32px 40px;
  }

  .header h1 {
    font-size: 1.5rem;
    margin: 0 0 32px 0;
  }
  .header h2 {
    font-size: 1.125rem;
    margin: 0 0 16px 0;
  }
  .header p {
    font-size: 1.1rem;
    margin: 0;
    line-height: 1.8;
    opacity: 0.8;
    margin-bottom: 16px;
  }
  /* Place subscription and why-us side by side */
  .subscription,
  .why-us {
    padding: 40px;
    margin: 0;
  }

  .bottom-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .subscription {
    width: 50%;
    border-radius: 0 0 0 10px;
    padding: auto 32px auto 40px;
  }

  .why-us {
    width: 50%;
    border-radius: 0 0 10px 0;
    padding: 45px 40px auto 35px;
  }
  .why-us h4 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: -5px 0 20px 0;
    color: var(--white);
    opacity: 0.9;
  }

  .why-us ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .why-us li {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: auto;
    color: var(--light-gray);
    opacity: 0.8;
    line-height: 21px;
    letter-spacing: 0.2px;
  }
}
